.nav-logo {
    height: 30px;
    width: auto;
    margin-left: 15px;
}

.navbar-toggler-icon {
    height: 30px;
    width: auto;
}

.nav-link {
    margin-left: 5px;
}

nav {
    border-bottom: 1px dotted #ba3311;
}