/*
== Variables ===================================================================
*/

$red: #BA3310;
$lgrey: #E6E6E6;
$dgrey: #2D2A28;


$win-box-height: 200px;

/*
== Variables ===================================================================
*/
html      {
  margin: 0px;
  padding: 0px;
}

footer    {
  padding: 45px;
  margin-bottom: 0px;
}

/*
== Top Navigaion ===============================================================
*/

nav   {
  background-color: rgba(255, 255, 255, 1.0);
  border-bottom: 2px dashed $red;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

a.nav-link   {
  /*color: $red !important;*/
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;

}

.nav-icon   {
  max-height: 30px;
}

.nav-logo   {
  max-height: 30px;
}

/*
== Top Navigation ==============================================================
*/


/*
== Hero Section ================================================================
*/


.hero-top h1  {
  color: white;
}

.hero-bottom h5  {
  color: white;
}

#hero-back   {
  background-image: url(assets/img/Walking-heads.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  backgrond-position: center center;
  background-color: $dgrey;
  padding-top: 7em;
}

#web-heading  {
  background-image: url(assets/img/bible-pen.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  backgrond-position: center center;
  background-color: $dgrey;
  padding-top: 7em;
}

#web-heading   {
  color: white;
}


.window-box   {
  min-height: $win-box-height;
}

.sign-up-area   {
  text-align: center;
  margin: 15px;
}

.sign-up-area button  {
  padding: 5px 20% 5px 20%;
}

.card   {
  margin-top: 30px;
  margin-bottom: 30px;
}

/*
== Hero Section ================================================================
*/

/*
== Benefits Main Section =======================================================
*/

#web-benefits   {
  margin-top: 20em;
}

#benefits-animation   {
  display:flex;
  align-content: stretch;
  min-height: 900px;
}

.benefits-text h1  {
  padding: 15px;
  border-bottom: 2px dashed $red;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2)
}

.benefits-text h5  {
  padding: 15px;
}

#price-heading    {
  padding: 15px;
}

/*
== Benefits Main Section =======================================================
*/

.dedicate-image   {
  display: block;
  min-height: 40em;
}


.design-text-main   {
  display: block;
  margin-top: 40em;
}

/*
== Footer ======================================================================
*/

footer  {
  display: block;
  background-color: $dgrey;
  color: $lgrey;
}

/*
== Footer ======================================================================
*/

/*
== Media Queries ===============================================================
*/

@media screen and (min-height: 666px) {
  .window-box   {
    min-height: $win-box-height + 160;
  }
}

@media screen and (min-height: 990px) {
  .window-box   {
    min-height: $win-box-height + 400;
  }
}

@media screen and (min-height: 1201px) {
  .window-box   {
    min-height: $win-box-height + 1200;
  }
}

@media screen and (max-width: 556px) {
  a.navbar-brand.active   {
    display: none;
  }
}

/*
== Media Queries ===============================================================
*/
